@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.home {
    text-decoration: none;
}

.background2 {
    background-image: linear-gradient(135deg, #F1B43B, #965109);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    z-index: -10;
}

.background {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0px;
    left: 0px;
    z-index: -20;
}

header {
    position: absolute;
    background-color: hsla(0,100%,0%,.4);
    top: 0px;
    height: auto;
    width: 100%;
}

h1 {
    position: relative;
    color: white;
    top: 5px;
    font-size: 40px;
    margin: 0px 0px 0px 20px;
    font-family: "Open Sans";
}

h2 {
    position: relative;
    color: white;
    font-size: 50px;
    text-align: center;
    top: 0px;
}

.orderButton {
    position: relative;
    background-color: #59A673;
    color: white;
    font-size: 30px;
    width: 100px;
    height: 30px;
    padding: 5px 200px;
    text-decoration: none;
    left: 350px;
    top: 50px;
    font-family: "Open Sans";
    &:hover {
        border: 2px solid green;
    }
}

main {
    position: relative;
    top: 150px;
}

.articles {
    position: relative;
    display: flex;
    justify-content: center;
    top: 80px;
}

article {
    width: 200px;
    margin: 0px 30px;
    font-family: "Open Sans";
}

article img {
    width: 30px;
    height: 30px;
}

h3, img {
    display: inline;
    font-family: "Open Sans";
}

h5:nth-child(2) {
    position: relative;
    top: -10px;
    padding-left: 50px;
}

h5 {
    position: relative;
    top: -10px;
    font-family: "Open Sans";
}

article p {
    font-size: 12px;
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    bottom: 0;
}

.item {
    margin: 0px;
    padding: 1em 0;
    padding-left: 20px;
}

.price, .item {
    display: inline-block;
    width: 120px;
}

.price {
    text-align: right;
    margin-right: 10px;
}

.chosen{
    background-color: hsl(195, 48%, 54%);
}

.addItem {
    width: 120px;
    height: 30px;
}

.menuItems, .totals, #quantity, .prices {
    background-color: white;
}

form input {
    background-color: #FAFFBD;
    position: relative;
    top: -60px;
    left: 300px;
    width: 295px;
    height: 25px;
    margin-bottom: 10px;
}

.menuItems {
    position: relative;
    height: 200px;
    width: 300px;
    left: 300px;
    top: -70px;
    overflow: auto;
}

label {
    position: relative;
    display: block;
    font-size: 10px;
    left: 300px;
    top: -60px;
    width: 100px;
}

#quantity {
    position: relative;
    width: 50px;
    height: 30px;
    font-size: 20px;
    left: 300px;
    top: -60px;
    margin-bottom: 20px;
}

.addItem {
    position: relative;
    top: -65px;
    left: 310px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #5973A6;
    &:hover {
        opacity: .9;
    }
}

.deliver {
    position: relative;
    color: white;
    background-color: #59A673;
    height: 30px;
    width: 302px;
    left: -5px;
    top: -20px;
    font-size: 20px;
    &:hover {
        opacity: .9;
    }
}

.totals {
    position: absolute;
    height: 395px;
    width: 300px;
    top: -70px;
    left: 620px;
    overflow: auto;
    padding: 10px;
}

.prices {
    position: absolute;
    height: 70px;
    width: 320px;
    top: 340px;
    left: 620px;
}

.prices p {
    position: relative;
    display: inline-block;
    text-align: right;
    width: 100px;
    margin: 0px;
    left: 110px;
    top: 0px;
}

.total, .totNum {
    font-weight: bold;
}

.error {
    color: red;
}

.errorBox {
    display: none;
    height: 50px;
}

.burger, .pizza {
    font-size: 15px;
    font-weight: bold;
    margin: 2px 0px 2px 5px;
}

.orderedItem {
    margin: 2px 0px 2px 10px;
}

.fullItem {
    display: flex;
    justify-content: space-between;
}

.totalOrderedItem {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.priceAdded {
    margin-top: 0px;
}
